<!--Footer-->
<footer class="page-footer text-center text-md-left pt-4">
  <hr>
  <!--Social buttons-->
  <div class="social-section text-center">
    <ul class="list-unstyled list-inline">
      <li class="list-inline-item"><a class="btn-floating btn-fb"><i class="fa fa-facebook"> </i></a></li>
      <li class="list-inline-item"><a class="btn-floating btn-tw"><i class="fa fa-twitter"> </i></a></li>
      <li class="list-inline-item"><a class="btn-floating btn-gplus"><i class="fa fa-google-plus"> </i></a></li>
      <li class="list-inline-item"><a class="btn-floating btn-li"><i class="fa fa-linkedin"> </i></a></li>
      <li class="list-inline-item"><a class="btn-floating btn-git"><i class="fa fa-github"> </i></a></li>
    </ul>
  </div>
  <!--/.Social buttons-->

  <!--Copyright-->
  <div class="footer-copyright py-3 text-center">
    <div class="container-fluid">
      © 2018 Copyright: <a href="#"> 北京麦迪森安医药科技有限公司 </a>

    </div>
  </div>
  <!--/.Copyright-->

</footer>