<!-- Navbar -->
<nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav">
  <!-- SideNav slide-out button -->
  <div class="float-left">
    <a href="#" data-activates="slide-out" class="button-collapse black-text"><i class="fa fa-bars"></i></a>
  </div>
  <!-- Breadcrumb-->
  <div class="breadcrumb-dn mr-auto text-center">
    <p><b>麦迪森安患者随访系统</b></p>
  </div>
  <ul class="nav navbar-nav nav-flex-icons ml-auto">
    <li class="nav-item">
      <a class="nav-link"><i class="fa fa-envelope"></i> <span class="clearfix d-none d-sm-inline-block"><b>联系我们</b></span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link"><i class="fa fa-comments-o"></i> <span class="clearfix d-none d-sm-inline-block"><b>技术支持</b></span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link"><i class="fa fa-user"></i> <span class="clearfix d-none d-sm-inline-block"><b>我的账户</b></span></a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <b>吴可嘉</b>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="#">账户信息</a>
        <a class="dropdown-item" href="#">修改密码</a>
        <a class="dropdown-item" href="#">退出登录</a>
      </div>
    </li>
  </ul>
</nav>
<!-- /.Navbar -->